<!doctype html>
<html>
    <head>
        <title>Users at <%= shopData.shopName %></title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <style>
          table {
            width: 80%;
            margin: 2em auto;
            border-collapse: collapse;
            font-family: Arial, Helvetica, sans-serif;
          }
          th, td{
            border: 1px solid #ccc;
            padding: 0.75em;
            text-align: left;
          }
          th {
            background-color: #f4f4f4;
            color: darkcyan;
          }
          td{
            color: #333;
          }
        </style>
    </head>
    <body>
        <h1>Registered Users at <%= shopData.shopName %></h1>
        <table>
          <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
          <% userList.forEach(function(user){ %>
            <tr>
               <td><%= user.username %></td>
               <td><%= user.first %></td>
               <td><%= user.last %></td>
               <td><%= user.email %></td>
            </tr>
        <% }); %>
        </table>
    </body>
</html>